@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br>
<br>


<address>
    Yayla Neighborhood<br />
    Yozgat Street,<br/>
    1480/2 KECIOREN / ANKARA / TURKEY<br />
    <abbr title="Phone"><strong>Phone : </strong></abbr>
    +90 312 324 15 55
</address>
<br>

<address>
    <abbr title="Address"><strong>Address : </strong></abbr><br>
    <strong>E-Mail:</strong>   <a href="mailto:b_pnr@hotmail.com">b_pnr@hotmail.com</a><br />
    <strong>OR:</strong> <a href="mailto:busra.tuzlupinar18@gmail.com">busra.tuzlupinar18@gmail.com</a>
</address>